<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container" >
        <div class="navbar-header" >
            <a class="navbar-brand fn" href="{{ path_for('home') }}"><span class="glyphicon glyphicon-list-alt"></span> Slim 3 </a>

        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path_for('home') }}">Home</a></li>
                {% if auth.check %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span> {{ auth.user.name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path_for('auth.password.change') }}"><i class="fa fa-btn fa-sign-out"></i> Change PassWord</a></li>
                            <li><a href="{{ path_for('auth.signout') }}"><i class="fa fa-btn fa-sign-out"></i> Logout</a></li>

                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path_for('auth.signin') }}">Sign In</a></li>
                    <li><a href="{{ path_for('auth.signup') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>